.card {
    margin-bottom: 20px;
}

.display-3{
    font-family: Arial, Helvetica, sans-serif;
}

.profile-pic{
    width: 300px;
    height: 300px;
}

.section-header{
    margin-top:20px;
    margin-bottom:20px;
}
.lead {
    margin-bottom: 0; 
}